* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-top: 20px;
    text-decoration: none;
    color: red;
}
.subtitle {
    font-size: 20px;
}

.content {
    margin: 20px;

    text-align: justify;
    text-justify: auto;
}
.content-title {
    text-align: center;
}
.content-subtitle {
    margin-top: 10px;
    font-size: large;
    color: orange;
}
.content-text {
    margin-top: 10px;
}
a {
    margin-top: 10px;
    color: red;
}

a.page-link {
    text-decoration: none;
    color: red;
}

.content li a {
    text-decoration: none;
    color: red;
}
.content li {
    margin-top: 10px;
}
